/* Target parent padding but only when your block is inside */

.htgb_latest_post_1 {
  * {
    margin: 0;
    padding: 0;
  }
  width: 100% !important;
  max-width: 100% !important;

  //
  .htgb_latest_post_1_wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .htgb_latest_post_1_container {
    width: 100%;
    max-width: 800px;
    background-color: 1200px;
    margin: 0 auto;

    .htgb_all_post_1_card {
      margin-bottom: 20px;
    }

    .htgb_all_post_1_features {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid red;
      .htgb_all_post_1_feature_img {
        img {
          width: 200px;
          height: 200px;
          border-radius: 10px;
        }
      }

      .htgb_all_post_1_feature_content {
        h2 {
          font-size: 20px;
          font-weight: 700;
          color: #333333;
        }

        .gb_latest_post_1__excerpt {
          p {
            font-size: 16px;
            font-weight: 500;
            color: gray;
          }
        }
      }
    }
  }
}
